.first-line {
    font-weight: 800;
    font-size: 80px;
    text-align: center;
    line-height: 0.0005;
    padding: 50px 100px 10px;
    color: white;
    text-shadow: 100px black;
}

body {
    font-family: 'Poppins', sans-serif;
}

.first-para {
    text-align: center;
    line-height: .8;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-shadow: ;
}

#first-donate {
    color: white;
    background-color: red;
    width: 12%;
    margin-right: 40%;
    margin-left: 40%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
}

#first-page {
    background-image: url(images/donation13.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: 100%;

}

#second {
    padding-top: 80px;
}

#second-line {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    b
}

.second-para {
    text-align: center;
    font-weight: 300;
    line-height: .8;
}

#taka {
    display: flex;
    text-align: center;
    margin-left: 20%;
    padding-right: 20%;
}

.tk {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 40px;
    text-align: center;
    background-color: aliceblue;
    height: 80px;
}

#two-hundred {
    background-color: rgb(237, 213, 213);
    border: solid red;
    color: red;
    font-weight: bold;
}

#input-type {
    text-align: center;
    size: 50px;
    font-size: 20px;
}

input {
    size: 290px;
}

#donate {
    text-align: center;
    background-color: orangered;
    width: 12%;
    height: 40px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
    border-radius: 5px;
    color: white;

}

#third {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
}

.third {
    text-align: center;
    font-size: 20px;
    line-height: .8;
}

#last-p {
    display: flex;
    padding: 3%;
}

.last-pag {
    width: 25%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    height: 300px;
    padding-top: 100px;

}

#page-a {
    background-color: rgb(150, 201, 201);
}


#page-b {
    background-color: rgb(189, 151, 151);
}

#page-c {
    background-color: rgb(139, 119, 82);
}

.last-donate-now {
    display: flex;
    margin-left: 10px;
    margin-right: 15px;
}

#donate-last-now {
    width: 50%;
    height: 50px;
}

#donate-last-pic {
    width: 50%;
}

.prp {
    padding: 4%;

}

#donate-last-pc {
    width: 50%;
}

.finish {
    font-weight: 800;
    font-size: 40px;
}

.cont {
    background-color: orangered;
    width: 50%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    border-radius: 5%;
}

#update {
    font-size: 60px;
}

#upto {
    text-align: center;
}

.size {
    font-size: 20px;
}

.submit {
    display: flex;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
}

.button {
    background-color: orangered;

}

.mad {
    background-color: bisque;
    height: 130px;
    width: 60%;
    margin-left: 20%;
    padding-top: 60px;
}

#last-h {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 15px;
    color: tomato;
}

#last-last {
    text-align: center;
    background-color: black;
    color: white;
    height: 170px;
    padding-top: 5px;
    padding-bottom: 30px;
}